/* Reset some basic elements */

/* CSS Variables (Custom Properties) */
:root {

    /* Add Google Font Import */
    @import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300;400;500;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');
    /* Add Font Family Variable */
    --handjet-font: 'Handjet', sans-serif;
    --jetbrains-font: 'JetBrains Mono', monospace;
    --quicksand-font: 'Quicksand', sans-serif;
    --white: white;
    --black: black;
    /* Colors */
    --dark-grey: #1E1E1E;
    --light-grey: #595959;
    
    /* Spacing */
    --spacing-sm: 10px;
    --spacing-md: 15px;
    --spacing-lg: 20px;
    --spacing-xl: 30px;
    
    /* Borders */
    --image-border-radius: 20px;
    --icon-border-radius: 5px;

    /* Shadows */
    --white-glow: 0 0 10px rgba(255, 255, 255, 0.7);


}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-color);
    max-width: 1080px;
    margin: 0 auto;
    background-color: var(--dark-grey);
}

header {
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: var(--spacing-lg);
    border-radius: var(--border-radius);
}
main {
    background-color: var(--dark-grey);
}


h1, h2, h3 {
    color: var(--white);
    margin-bottom: var(--spacing-md);
    font-family: var(--handjet-font);
    font-weight: 400;
}

h1 {
    font-size: 2rem;
    padding: 20px 30px 15px 30px;
    border-bottom: 0.5px solid var(--white);
    display: flex;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
}


section {
}

p {
    color: var(--white);
    font-family: var(--quicksand-font);
}



/* footer {
    text-align: center;
    padding: var(--spacing-lg);
    margin-top: var(--spacing-lg);
    color: var(--text-color-light);
    font-size: 0.9em;
} */

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: background-color 0.5s ease;
}

.icon-container:hover {
    background-color: var(--light-grey);
}

.icon-container svg {
    width: 40px;
    height: 40px;
    padding: 3px;
    transition: fill 0.3s ease;
    fill: var(--light-grey);
}

.icon-container svg:hover {
    fill: var(--dark-grey);
}


.fade-in {
    animation: fadeIn 1s ease;
}


.section-title-container {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 15px 10px 0px 20px;
    transition: background-color 0.1s ease;
}

.section-title-container svg {
    width: 40px;
    height: 40px;
    transition: filter 0.3s ease;
}

.section-title-container h2 {
    transition: text-shadow 0.1s ease;
}

.section-title-container.expanded {
    background-color: var(--black);
}

.section-title-container:hover {
    background-color: var(--black);

}
.section-title-container:hover h2 {
    text-shadow: var(--white-glow);
}

.section-title-container:hover .section-title-arrow {
    filter: drop-shadow(var(--white-glow));
    opacity: 1;
}



.section-title-arrow {
    opacity: 0;
    transition: all 0.3s ease !important;
}

.section-title-arrow.collapsed {
    transform: rotate(0deg);
    opacity: 0;
}

.section-title-arrow.expanded {
    transform: rotate(90deg);
    opacity: 1;
}


.section-container {
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;

    /* border-right: 5px solid var(--black);
    border-left: 5px solid var(--black); */
    /* border: 5px solid var(--black);
    margin: -5px; */

    max-height: 0;
    overflow: hidden;
    position: relative;
}

.section-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 5px solid var(--black);
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.3s ease;
}


.section-container.expanded {
    opacity: 1;
    height: auto;
    max-height: var(--dynamic-height-mobile);
    /* border: 5px solid var(--black); */
}

.section-container.collapsed {
    max-height: 0;
    /* border-right: 5px solid var(--black);
    border-left: 5px solid var(--black); */
}

.item-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.item-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-image-container:hover ~ .item-text-container .item-title {
    text-shadow: var(--white-glow);
}

.item-image-container-inactive{
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.item-image {
    width: 300px;
    height: 300px;
    border-radius: var(--image-border-radius);
    object-fit: cover;
    margin: 0px 0px 20px 0px;
}

.item-text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
}



.item-title-link {
    text-decoration: none;
    display: flex;
    border-bottom: 1px solid var(--light-grey);
}
.item-title-link-icon {
    margin: 10px 0px 0px 5px;
    width: 20px;
    height: 20px;
    fill: var(--white);
    color: var(--white);
    transition: all 0.3s ease;

}

.item-title {
    transition: all 0.3s ease;
}

.item-title-link:hover .item-title-link-icon {
    filter: drop-shadow(var(--white-glow));
}

.item-title-link:hover .item-title {
    text-shadow: var(--white-glow);
}


.item-title-link-inactive {
    pointer-events: none;
}

.item-title-inactive: hover{
    pointer-events: none;
}

.item-description {
    font-family: var(--quicksand-font);
    font-weight: 300;
    padding: 10px 0px;
}

.item-tech-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.item-tech {
    cursor: pointer;
    text-decoration: none;
    color: var(--light-grey);
    transition: color 0.3s ease;
    font-family: var(--quicksand-font);
    font-weight: 300;
}

.item-tech:hover {
    color: var(--white);
}





/* Virtual DOM button and element styles */
.action-button {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 16px;
    margin-bottom: var(--spacing-lg);
    transition: background-color 0.3s;
}

.action-button:hover {
    background-color: var(--primary-color-dark);
}

.greeting-card {
    border: 1px solid var(--border-color);
    padding: var(--spacing-lg);
    border-radius: var(--border-radius);
    background-color: var(--card-background);
    margin-top: var(--spacing-sm);
}

.greeting-card h3 {
    color: var(--primary-color);
    margin-bottom: var(--spacing-sm);
}

.timestamp {
    display: block;
    margin-top: var(--spacing-md);
    color: var(--text-color-lighter);
    font-style: italic;
}






@media screen and (min-width: 768px) {

    main {
    background-color: var(--dark-grey);
    padding: var(--spacing-lg);
}

    h1 {
    font-size: 3rem;
    padding: 20px 30px 15px 30px;
    border-bottom: 0.5px solid var(--white);
    display: flex;
    }

    h2 {
        font-size: 2rem;
        font-weight: 400;
    }

    h3 {
        font-size: 2rem;
        font-weight: 400;
    }

    .section-title-container {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 15px 10px 0px 20px;
        transition: background-color 0.1s ease;
    }


    .section-container.expanded {
        opacity: 1;
        height: auto;
        max-height: var(--dynamic-height);
        /* border: 5px solid var(--black); */
    }

    .item-container {
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 20px;
    }

    .item-image {
        width: 150px;
        height: 150px;
        border-radius: var(--image-border-radius);
        object-fit: cover;
        padding: 0px 0px 0px 0px;
    }
    .item-tech-container {
        display: flex;
        justify-content: start;
        align-items: start;
    }


}
